/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #27292E;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
ul,
ol {
    list-style: none;
}


[data-x].offset{
  transform: translateY(100px);
}
[data-x]{
  transform: translateY(0);
  transition: all 0.5s;
}
@keyframes slideUp {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0)
    }
}
section {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
section .content {
    max-width: 940px;
    margin-top: 60px;
}
section > h2 {
    text-align: center;
    color: #7C7D82;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}


/* header style */
header {
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
    color: #C0C2C5;
}
.sticky {
    background: #fff;
    padding: 10px 0 10px 0;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #3d4451;
}
.header-inner {
    padding: 0 16px 0 16px;
}

.header-inner >.logo > a {
    font-family: 'Fredoka One', cursive;
    color: #9A9DA2;
    font-size: 30px;
    display: block;
    float: left;
}
.header-inner >.logo > a > span {
    color: #E0656A;
}
.header-inner > nav {
    padding: 0 16px;
}
.header-inner > nav > ul {
    float: right;
}
.header-inner > nav > ul > li {
    float: left;
    margin-left: 18px;
    margin-right: 18px;
}
.header-inner > nav > ul > li > a {
    font-size: 14px;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 3px;
    display: block;
    position: relative;
}
header > .header-inner > nav > ul > li > a:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #DE6669;
    height: 3px;
    animation: menuSlide 0.3s;
}
@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
header .more {
    float: right;
    color: #FFFFFF;
    padding-top: 5px;
}

header .more i {
    font-size: 27px;
    border: 1px solid #888888;
    padding: 3px;
    color: #888888;
}
header .more i:hover{
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    color: #FFFFFF;
}

/* banner style */
.banner {
    height: 515px;
    background-image: url(https://i.loli.net/2018/03/17/5aacb466b6fa3.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask {
    height: 515px;
    background: rgba(0, 0, 0, 0.3);
}

/* profile card */
body > main {
    margin-top: -350px;
}
main > .userCard-wrapper {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #35363B;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.userCard .hello {
    background: #E6686D;
    font-weight: bold;
    color: #27292E;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 3px;
}
.userCard .hello .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E6686D;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;   
}
.userCard .userPhoto {
    float: left;
}
.userCard .userProfile {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .userProfile h1 {
    margin-top: 18px;

}
.userCard .userProfile h1 span {
    font-weight: 300; 
}
.userCard .userProfile hr {
    height: 0;
    border: none;
    border-top: 1px solid #47494C;
    margin: 20px 0;
}
.userCard .vacation {
    color: #27292E;
    background-color: #E6686D;
    padding: 1px 2px ;
    border-radius: 2px;
}
.userCard dl dt,
.userCard dl dd {
    line-height: 20px;
    float: left;
    padding: 5px 0;
}
.userCard dl dt {
    width: 40%;
    font-size: 12px;
    color: #D4D4D5;
    font-weight: bold;
}
.userCard dl dd {
    width: 60%;
    font-size: 14px;
    color: #84898E;
}
.userCard > .photoAndProfile {
    padding: 50px;
}

/* card footer */
main .userSocial {
    background: #E6686D;
}
main .userSocial ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
main .userSocial li {
    color: #35363B;
    display: block;
    float: left;
    padding: 0 16px;
}
main .userSocial .iconfont {
    font-size: 22px;
    padding: 10px;
    border-radius: 50%;
}
main .userSocial .iconfont:hover {
    background: #CF5D62;
    transition: 0.3s;
}

/* download button */
main .downloadResume-wrapper {
    text-align: center;
}
main .downloadResume-wrapper a {
    font-size: 16px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #474D55;
    background: #27292E;
    display: inline-block;
    border-radius: 2px;
    color: #9D9EA2;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}
main .downloadResume-wrapper a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* introduction style */
main .intro {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

/* skills style */
section.skills .content{
    background: #35363B;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 30px 0;
}
section.skills .content .row {
    width: 940px;
    padding: 0 50px;
    margin-bottom: 40px;
}



/* section.skill .content .row:last-child {
    margin-bottom: 0;
} */



section.skills .content .skill-wrapper {
    width: 48%;
    float: left;
}
section.skills .content .skill-wrapper:nth-child(even) {
    margin-left: 30px;
}
section.skills .content .progressData {
    padding-bottom: 5px;
} 
section.skills .content .progressData span {
    font-size: 14px;
    line-height: 1.1;
    color: #999999;
}
section.skills .progressBar {
    height: 5px;
    background-color: #584045;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

section.skills .progress {
    background-color: #E6686D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: translateX(0);
    transition: all 1s;
}
section.skills.offset .progress {
    transform: translateX(-100%);
}

/* .portfolio .content .window {
    width: 940px;
    height: 528.75px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.portfolio .content .window:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.portfolio .content .images {
    position: relative;
    width: 100%;
}
.portfolio .images > img {
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}
.portfolio .images > img.current {
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.portfolio .images > img.leave {
    transform: translateX(-100%);
    z-index: 1;
}
.portfolio .images > img.enter {
    transform: translateX(100%);
}
.portfolio .buttons {
    position: absolute;
    bottom: 0;
    height: 12%;
    width: 100%;
    z-index: 1;
    color: #FFFFFF;
    text-align: center;
}

.red {
    color: red;
} */
.portfolio .content .window {
    width: 940px;
    height: 528.75px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.portfolio .window ul,
.portfolio .window li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.window .img-ct {
    position: absolute;
}
.window .img-ct::after {
    content: '';
    display: block;
    clear: both;
}
.window .img-ct>li {
    float: left;
}
.window .img-ct img {
    width: 940px;
    height: 528.75px;
}
.window .arrow {
    position: absolute;
    top: 50%;
    display: inline-block;
    color: #ccc;
    text-align: center;
    text-decoration: none;
}
.window .arrow:hover {
    color: #fff;
}
.window .arrow .iconfont {
    font-size: 50px;
}
.window .pre {
  left: 15px;
}
.window .next {
  right: 15px;
}
.window .button {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 0;
  z-index: 1;
  text-align: center;
}
.window .button > li {
  display: inline-block;
  width: 30px;
  height: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 0 3px;
  cursor: pointer;
}
.window .button > li.active {
  background-color: #fff;
}


/* LeaveMessage */
section.message .content{
    background: #35363B;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 0 0 30px 0;
}
section.message p {
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
    background-color: #E6686D;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
section.message li {
    padding: 16px;
    margin: 0 50px;
    border-bottom: 1px solid #47494C;
}
section.message form {
    margin: 30px 50px 0;
}
section.message form input {
    padding-left: 6px;
    margin-right: 20px;
    color: #333;
    outline:none;
    background: #eee;
    border: #eee;;
    width: 30%;
    height: 32px;
    border-radius: 2px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#postMessageForm > button{
    padding: 6px 12px;
    border: transparent;
    height: 32px;
    color: #fff;
    background-color: #E6686D;
    border-radius: 2px;
    transition: box-shadow 0.2s;
    outline:none;
}
#postMessageForm > button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
input::-webkit-input-placeholder {  /* WebKit browsers */
    font-size: 14px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
}
input :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
}

